body {
  overflow-x: hidden;
}

.card-img-top {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.cart {
  color: rgb(224, 32, 32);
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #ffe0e0, #fff);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  animation: pulse 2s infinite;
  width: 90%;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
.cart h2 {
  display: inline-block;
  position: relative;
  animation: moveText 2.5s forwards ease-in-out;
  animation-delay: 1s;
}

@keyframes moveText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50%);
  }
}


