@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@467&family=Creepster&family=Signika:wght@300..700&display=swap");

html,
body {
  height: 100%;
  overflow-x: hidden;
}

* {
  text-decoration: none;
}

.home {
  /* width: 60%; */
  /* min-height: 87.3vh; */
}

h3 {
  font-family: "Caveat", sans-serif;
}

.txt {
  font-family: "Signika", sans-serif;
  white-space: pre-line;
  font-size: 1rem;
  color: rgb(224, 32, 32);
  font-size: 1.1rem;
}

.animat {
  width: 70 vw;
  height: 20vh;
  color: rgb(224, 32, 32);
  font-family: "Creepster";
}

.title {
  width: 50%;
}

.nv {
  color: rgb(224, 32, 32) !important;
}

.lets {
  background-color: rgb(224, 32, 32);
  color: white;
}

.lets a {
  color: inherit;
  text-decoration: none;
}

.foot {
  opacity: 0;
  transform: scale(1.5) translateY(20px);
  animation: text 2.5s forwards ease-in-out;
  animation-delay: 2s;
  color: rgb(224, 32, 32);
}

@keyframes text {
  0% {
    opacity: 0;
    transform: scale(3) translateY(20px);
    letter-spacing: 2px;
  }

  50% {
    opacity: 0.6;
    transform: scale(2) translateY(5px);
  }

  100% {
    opacity: 1;
    transform: scale(1.3) translateY(0);
    letter-spacing: normal;
  }
}

@media (max-width: 768px) {
  @keyframes text {
    0% {
      opacity: 0;
      transform: scale(1.8) translateY(10px);
      letter-spacing: 1px;
    }

    50% {
      opacity: 0.7;
      transform: scale(1.4) translateY(3px);
    }

    100% {
      opacity: 1;
      transform: scale(0.9) translateY(0);
      letter-spacing: normal;
    }
  }
}